@charset "UTF-8";
.cabeceraTitulo {
  padding: 3rem 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cabeceraTitulo h2 {
  font-size: 2.8rem;
  color: #0d6efd;
}

.accordion {
  padding: 0rem 10rem 5rem 10rem;
}
.accordion h2 {
  color: #0d6efd;
}
.accordion .accordion-button {
  background-color: #e9ecef;
  border-color: #343a40;
}
.accordion ul li {
  font-size: 1.2rem;
  list-style: none;
}
.accordion ul li i {
  color: #0d6efd;
}
.accordion ul li a {
  color: #343a40;
  text-decoration: none;
  font-weight: 400;
  transition: all 0.5s;
}
.accordion ul li a:hover {
  color: #0d6efd;
  font-weight: 400;
}
@media (max-width: 480px) {
  .accordion {
    width: 90vw; /* Reducir el padding para pantallas pequeñas */
    padding: 0;
    margin: 1rem;
  }
}

/* 
// INDICE
#indice {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  @include mixins.tituloSeccion();

  ul {
    li {
      font-size: 1.75rem;
      list-style: none;
      i {
        color: variables.$primary;
      }

      a {
        color: variables.$gray-800;
        text-decoration: none;
        font-weight: 400;
        transition: all 0.5s;
        &:hover {
          color: variables.$primary;
          font-weight: 400;
        }
      }
    }
  }
}
 */
.formBase {
  margin: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #e9ecef;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
}
.formBase #basic-addon1 {
  color: #0d6efd;
}
.formBase .containerSelect {
  margin-top: 1rem;
}
.formBase .terminos {
  margin-top: 1rem;
}
.formBase .inputSubmit {
  padding: 1rem 0rem 0rem 0rem;
  align-self: center;
}
.formBase .inputSubmit button {
  font-size: 1.2rem;
}
.formBase .infoEnvio,
.formBase .inforError {
  background-color: #20c997;
  border-radius: 5px;
  border: none;
  padding: 0.75rem;
}
.formBase .infoEnvio {
  background-color: #20c997;
}
.formBase .inforError {
  background-color: #fca360;
}
@media (max-width: 480px) {
  .formBase {
    width: 100%;
    padding: 1rem;
    margin: 0;
  }
}

.lista-paginacion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 3rem;
  flex-direction: column;
}
.lista-paginacion h3 {
  color: #0d6efd;
  align-self: flex-start;
  margin-left: 5rem;
  padding: 2rem 0rem;
  font-size: 3rem;
}
.lista-paginacion .items-lista-paginacion {
  width: 80%;
}
.lista-paginacion .items-lista-paginacion li {
  padding: 1rem;
}
.lista-paginacion .items-lista-paginacion li .titulo-item {
  font-size: 1.75rem;
}
.lista-paginacion .items-lista-paginacion li .desc-item {
  font-size: 1.25rem;
}
.lista-paginacion nav {
  margin: 2rem 5rem;
  align-self: center;
}
.lista-paginacion nav ul li a {
  font-size: 1.25rem;
  font-weight: 400;
}
.lista-paginacion nav ul .pag_activa a {
  background-color: #e4e8ec;
}

.formulario-login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.formulario-login .login-container {
  width: 70%;
  padding: 1rem 2rem;
}
@media (max-width: 780px) {
  .formulario-login .login-container {
    width: 90%;
    height: auto;
    padding: 1rem 1.5rem;
  }
}
@media (max-width: 400px) {
  .formulario-login .login-container {
    min-width: 100%;
    height: auto;
    padding: 0rem 1rem;
  }
}
.formulario-login .login-container .container-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #191970;
  border-radius: 15px 0px 0px 15px;
}
.formulario-login .login-container .container-picture #dragonBall {
  width: 60%;
  height: auto;
  opacity: 0.9;
}
@media (max-width: 400px) {
  .formulario-login .login-container .container-picture #dragonBall {
    min-width: 100%;
    height: auto;
  }
}
.formulario-login .login-container .container-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fa3614;
  border-radius: 0px 15px 15px 0px;
  padding: 2rem 0rem;
}
.formulario-login .login-container .container-form #formulario_login {
  width: 70%;
  font-size: 1rem;
}
.formulario-login .login-container .container-form #formulario_login input {
  width: 90%;
  margin: 1rem;
  font-size: 1.5rem;
  border: none;
  border-bottom: 1px solid #191970;
  background-color: #fa3614;
  color: #fa3614;
}
.formulario-login .login-container .container-form #formulario_login input::placeholder {
  color: #191970;
}
.formulario-login .login-container .container-form #formulario_login input:focus {
  background-color: #191970;
  border-color: #fa3614;
  padding: 0.25rem;
}
.formulario-login .login-container .container-form #formulario_login input:focus::placeholder {
  color: #fa3614;
}
@media (max-width: 780px) {
  .formulario-login .login-container .container-form #formulario_login input {
    width: 100%;
    flex-direction: column;
    font-size: 1rem;
    height: auto;
    padding: 0;
    margin: 0;
    margin-bottom: 0.75rem;
  }
}
@media (max-width: 400px) {
  .formulario-login .login-container .container-form #formulario_login input {
    width: 100%;
    flex-direction: column;
    font-size: 1rem;
    height: auto;
    padding: 0;
    margin: 0;
    margin-bottom: 0.25rem;
  }
}
.formulario-login .login-container .container-form #formulario_login .container-botones-form {
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}
@media (max-width: 780px) {
  .formulario-login .login-container .container-form #formulario_login .container-botones-form {
    flex-direction: column;
    min-width: 100%;
    height: auto;
    padding: 0.5rem;
    gap: 0.5rem;
    margin-top: 1rem;
  }
}
@media (max-width: 400px) {
  .formulario-login .login-container .container-form #formulario_login .container-botones-form {
    flex-direction: column;
    min-width: 100%;
    height: auto;
    padding: 0.5rem;
    gap: 0.5rem;
    margin-top: 1rem;
  }
}
.formulario-login .login-container .container-form #formulario_login .container-botones-form button {
  min-width: 30%;
  color: #191970;
  background-color: #fa3614;
  border: 1px solid #191970;
  border-radius: 5px;
  padding: 0.5rem 2.5rem;
  font-size: 1.1rem;
  transition: all 0.3s;
}
.formulario-login .login-container .container-form #formulario_login .container-botones-form button:hover {
  background-color: #191970;
  color: #fa3614;
  scale: 1.1;
}
@media (max-width: 780px) {
  .formulario-login .login-container .container-form #formulario_login .container-botones-form button {
    width: 100%;
    font-size: 0.9rem;
    padding: 0.25rem 1rem;
    margin: 0rem 0rem 0rem 0rem;
  }
}
@media (max-width: 400px) {
  .formulario-login .login-container .container-form #formulario_login .container-botones-form button {
    width: 100%;
    font-size: 0.9rem;
    padding: 0.25rem 1rem;
    margin: 0rem 0rem 0rem 0rem;
  }
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100vw;
  background-color: #343a40;
  text-align: center;
  margin-bottom: 3rem;
}
header h1 {
  font-size: 4rem;
  color: #0dcaf0;
  font-weight: 600;
}
@media (max-width: 480px) {
  header h1 {
    font-size: 3rem;
  }
}
header img {
  width: 15rem;
  height: auto;
}

footer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
footer button {
  background-color: #343a40;
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  color: #0dcaf0;
  font-weight: 600;
  transition: 0.3s all;
  border: 2px solid #343a40;
}
footer button:hover {
  color: #343a40;
  background-color: #0dcaf0;
  border: 2px solid #343a40;
}
footer button:hover a {
  text-decoration: none;
  color: #343a40;
}
footer button a {
  text-decoration: none;
  color: #0dcaf0;
}

#sectionTema {
  margin: 2rem 10rem 0rem 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#sectionTema h2 {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: #0d6efd;
}
#sectionTema h2 i {
  color: #dc3545;
}
#sectionTema h3 {
  font-size: 2.25rem;
  padding-bottom: 1rem;
  color: #0d6efd;
}
#sectionTema .ejercicio {
  margin: 0;
  padding: 2rem 2rem;
  font-size: 1.3rem;
  border: 1px solid #0dcaf0;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
}
#sectionTema h3 {
  font-size: 1.75rem;
  color: #343a40;
}
#sectionTema h2 {
  align-self: flex-start;
}
@media (max-width: 480px) {
  #sectionTema h2 {
    font-size: 3rem;
  }
}
#sectionTema .cod_html {
  padding: 1.5rem 2rem;
  background-color: #f6cdd2;
  border-radius: 1rem;
}
#sectionTema .cod_html h4 {
  font-variant: small-caps;
  color: #dc3545;
}
#sectionTema .cod_html p {
  margin-top: 2.5rem;
  font-weight: 600;
  color: #dc3545;
}
#sectionTema .cod_html code {
  font-size: 1.25rem;
}
@media (max-width: 480px) {
  #sectionTema .cod_html {
    font-size: 1rem;
  }
}
#sectionTema .cod_php {
  padding: 1.5rem 2rem;
  background-color: #c8e3d5;
  border-radius: 1rem;
  margin-top: 1rem;
}
#sectionTema .cod_php h4 {
  font-variant: small-caps;
  color: #198754;
}
#sectionTema .cod_php p {
  margin-top: 2.5rem;
  font-weight: 600;
  color: #198754;
}
@media (max-width: 480px) {
  #sectionTema .cod_php {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  #sectionTema {
    width: 90vw; /* Reducir el padding para pantallas pequeñas */
    padding: 0;
    margin: 1rem;
  }
}

.paginacionImg {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=index.css.map */
