@use "mixins";
@use "variables";
@use "componentes";

//general
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//header
header {
  width: 100vw;
  background-color: variables.$gray-800;
  text-align: center;
  margin-bottom: 3rem;

  h1 {
    font-size: 4rem;
    color: variables.$info;
    font-weight: 600;
  }

  img {
    width: 15rem;
    height: auto;
  }
}

//fotter
footer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;

  button {
    @include componentes.botonReturn();
  }
}

// seccion
#sectionTema {
  @include mixins.containerEjercicios();
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2 {
    align-self: flex-start;
  }

  .cod_html {
    @include mixins.elementosCodigo();
  }

  .cod_php {
    @include mixins.elementosResultado();
  }

  
}

