@use "variables";

// mixins
@mixin tituloSeccion {
  margin: 2rem 10rem 0rem 10rem;
  h2 {
    font-size: 3rem;
    padding-bottom: 1rem;
    color: variables.$primary;
    i {
      color: variables.$red;
    }
  }
  h3 {
    font-size: 2.25rem;
    padding-bottom: 1rem;
    color: variables.$primary;
  }
}

@mixin containerEjercicios {
  @include tituloSeccion();
  .ejercicio {
    margin: 0;
    padding: 2rem 2rem;
    font-size: 1.3rem;
    border: 1px solid variables.$info;
    border-radius: 0.75rem;
    margin-bottom: 1rem;
  }
  h3{
    font-size: 1.75rem;
    color: variables.$gray-800;
  }
}

@mixin botonReturn {
  background-color: variables.$gray-800;
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  color: variables.$info;
  font-weight: 600;
  transition: 0.3s all;
  border: 2px solid variables.$gray-800;
  &:hover {
    color: variables.$gray-800;
    background-color: variables.$info;
    border: 2px solid variables.$gray-800;
    a {
      text-decoration: none;
      color: variables.$gray-800;
    }
  }
  a {
    text-decoration: none;
    color: variables.$info;
  }
}

//general
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//header
header {
  width: 100vw;
  background-color: variables.$gray-800;
  text-align: center;
  margin-bottom: 3rem;

  h1 {
    font-size: 4rem;
    color: variables.$info;
    font-weight: 600;
    
  }

  img{
    width: 15rem;
    height: auto;
  }
}

//fotter
footer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;

  button {
    @include botonReturn();
  }
}

// seccion Tema.php

#sectionTema{
  @include containerEjercicios();
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2{
   align-self: flex-start;
  }
 }

// index.php
#indice {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  @include tituloSeccion();

  ul {
    li {
      font-size: 3rem;
      list-style: none;
      i {
        color: variables.$primary;
        
      }
     
      a {
        color: variables.$gray-800;
        text-decoration: none;
        font-weight: 400;
        transition: all 0.5s;
        &:hover {
          color: variables.$primary;
          font-weight: 400;
        }
      }
    }
  }
}

.cod_html {
  padding: 1.5rem 2rem;
  background-color: #f6cdd2;
  border-radius: 1rem;
  h4 {
    font-variant: small-caps;
    color: variables.$danger;
  }
  p{
    margin-top: 2.5rem;
    font-weight: 600;
    color: variables.$danger;
    
  }
}

.cod_php {
  padding: 1.5rem 2rem;
  background-color: #c8e3d5;
  border-radius: 1rem;
  margin-top: 1rem;

  h4 {
    font-variant: small-caps;
    color: variables.$green;
  }

  p{
    margin-top: 2.5rem;
    font-weight: 600;
    color: variables.$green;
    
  }
}
